body {
    /* background-color: #cccccc5e; */
    background: linear-gradient(100deg, #ff9a9e, #fad0c4);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}   

.bdy {
    cursor: not-allowed;
}

main {
    background-color: #fff;
    width: 500px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);

}

h1 {
    color: #ff5358;
}

h2 {
    color: #555555a4;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-display {
    background-color: hsl(0, 59%, 41%);
    width: 50%;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 0.5s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.color-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.btn-opt {
    background-color: hsl(0, 59%, 41%);
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border-style: none;
    transition: all 0.5s ease;
    /* &:hover {
        transform: scale(.9);
    } */
    &:active {
        transform: scale(.8);
    }
}

.btnP {
    cursor: pointer;
}

.btnDisable {
    pointer-events: none;
    opacity: 0.5;
}

.reset {
    background-image: linear-gradient(#ff9a9e, #fad0c4);
    color: #000;
    font-size: 1em;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.5s ease;
    &:active {
        transform: scale(1.05);
        box-shadow: 2px 5px 5px #9e9c9c;
    }
    &:hover {
    background-image: linear-gradient(#fad0c4, #ff9a9e);
    }
}

.correct {
    color: #22c55e;
    animation: fadeIn 0.5s ease;
}

.wrong {
    color: #ef4444;
    animation: shake 0.5s ease;
}

.result {
    display: none;
}

.finalResult {
    background-color: #cccccc5e;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    padding: 20px;
    font-size: 25px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    animation: popupAnim 0.3s ease-out forwards;
    transition-delay: 0s;
}

@keyframes popupAnim {
    0% {
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}

@media (max-width: 600px) {
    main {
        width: 100%;
    }

    .finalResult {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    .reset {
        font-size: .7em;
    }

 
}